<form action="/students/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="group_id" value="<%= group_id %>">
    <input type="hidden" name="student_id" value="<%= student_id %>">
    <input type="submit" value="Remove Student">
</form>