<form action="/groups/delete" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="group_id" value="<%= group.id %>">
  <input type="submit" value="Delete This Group">
</form>