<form action='/login' method="POST">
  Email:<br>
  <input type="text" name="user[email]" placeholder="Enter your Email"><br>
  Password:<br>
  <input type="password" name="user[password]" placeholder="Enter your Password"><br>
  <input type="submit" value="Login!">
</form>