<form action='/signup' method="POST">
  Username:<br>
  <input type="text" name="user[name]" placeholder="Choose a Username"><br>
  Email:<br>
  <input type="text" name="user[email]" placeholder="Enter your Email"><br>
  Password:<br>
  <input type="password" name="user[password]" placeholder="Choose a Password"><br>
  Confirm Password:<br>
  <input type="password" name="user[password_confirmation]" placeholder="Confirm your Password"><br>
  <input type="submit" value="Signup!">
</form>