<% if current_user.groups.empty? %>
  <h1>You have not made any groups yet</h1>
<% else %>

<h1>Here are your groups:</h1>
  <% select_groups_by_cohort.each do |cohort| %>
    <br><a href="/groups/<%= cohort.name %>/<%= cohort.id %>">Groups for <%= cohort.name %></a>
  <% end %>
<% end %>