<% if current_user.groups.empty? %>
  <h1>You have not made any groups yet</h1>
<% else %>

<h1>Groups by Cohort</h1>
  <% select_unique_group_corhorts.each do |cohort| %>
    <br><a href="/groups/<%= cohort.name %>/<%= cohort.id %>">Groups for <%= cohort.name %></a>
  <% end %>
<% end %>