<% if current_user.groups.empty? %>
  <h1>You have not made any groups yet</h1>
<% else %>

<h1>Groups You have Made by Cohort</h1>
<ul>
  <% select_unique_group_corhorts.each do |cohort| %>
    <h2><a href="/groups/<%= cohort.name %>/<%= cohort.id %>">Groups for <%= cohort.name %></a></h2>
  <% end %>
</ul>
<% end %>