<ul>
  <% i = 1 %>
  <% @groups_by_date.each do |group| %>
    <h2>Group <%= i %> </h2>
    <ol>
    <% group.students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ol>
    <% i += 1 %>
  <% end %>
</ul>