<ul>
  <% i = 1 %>
  <% @groups_by_date.each do |group| %>
    <li><a href="/groups/<%= group.id %>">Group <%= i %></a> - <a href="/groups/<%= group.id %>/edit">Edit</a></li>
    <ol>
     <%= erb :'groups/single', locals: {group: group} %>
    </ol>
    <% i += 1 %>
  <% end %>
</ul>