<form action='/groups/new' method="POST">
  Cohort Name:<br>
  <input type="text" name="cohort[name]" placeholder="Enter name of the Cohort"><br>
  Cohort Year:<br>
  <input type="text" name="cohort[year]" placeholder="Enter year of the Cohort"><br>
  <input type="submit" value="Get Some Groups">
</form>