<h1>Welcome, <%= current_user.name %></h1>
<h2>What would you like to do?</h2>
<ul>
  <li>
    <a id="new-groups-link" href="/groups/new">Get New Groups</a>
  </li>
  <li>
  <a href="/groups">See Past Groups</a>
  </li>
</ul>