<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/application.css">

    <title>DBC::LFG</title>
  </head>

  <body>
    <div id="wrapper">
      <div class="navbar">
        <a href="/">Home</a>
        <% if current_user %>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Login</a>
        <% end %>
      </div>

      <div class="content">
        <%= yield %>
      </div>

    </div>

  </body>

  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/user.js"></script>
</html>